// npx convert-sh-theme https://raw.githubusercontent.com/shikijs/shiki/main/packages/shiki/themes/github-light.json
:root {
  --shiki-color-text: #24292e;
  --shiki-color-background: #f8f8f8;
  --shiki-token-constant: #005cc5;
  --shiki-token-string: #032f62;
  --shiki-token-comment: #6a737d;
  --shiki-token-keyword: #d73a49;
  --shiki-token-parameter: #24292e;
  --shiki-token-function: #24292e;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #24292e;
  --shiki-token-link: #24292e;
}

// npx convert-sh-theme https://raw.githubusercontent.com/shikijs/shiki/main/packages/shiki/themes/github-dark.json
[saved-theme="dark"] {
  --shiki-color-text: #C8D0E0 !important;
  --shiki-color-background: #2E3440 !important;
  --shiki-token-constant: #81A1C1 !important;
  --shiki-token-string: #A3BE8C !important;
  --shiki-token-comment: #6C7A96 !important;
  --shiki-token-keyword: #B988B0 !important;
  --shiki-token-parameter: #D57780 !important;
  --shiki-token-function: #81A1C1 !important;
  --shiki-token-string-expression: #D08F70 !important;
  --shiki-token-punctuation: #5E81AC !important;
  --shiki-token-link: #88C0D0 !important;
}
